<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PromptlyWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07A0A6771FD10C3800ACD614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A0A68B1FD10C3800ACD614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A0A6961FD10C3800ACD614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
